<!-- <app-about></app-about> -->
<div class="container">
  <h4>Parent Componenet</h4>

  To send whatever is entered in the text field to child component <br>
  Pass data: <input type="text" class="form-control" [(ngModel)]="enterName"/>
  
  value: <input type="number" class="form-control " [(ngModel)]="enterData">
  <input type="button" value="send" (click)="transferData() " class="btn btn-primary">

  <!-- <input type="button" value="send" (click)="transferData2() " class="btn btn-primary"> -->
  <h4>Received from child:{{value}}</h4>
  <app-about (sendData)="sendData($event)"></app-about>

  <app-home [parentData]="parentdata" [parentValue]="parentValue"></app-home>
  
  <!-- <app-home [ ></app-home> -->
</div>