



<!-- <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="name"[(ngModel)]="product.name" name="name">
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <input type="text" class="form-control" id="description"[(ngModel)]="product.description" name="description">
  </div>
  <div class="form-group">
    <label for="">Quantity</label>
    <input type="text" class="form-control" id="qty"[(ngModel)]="product.qty" name="qty">
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="text" class="form-control" id="price"[(ngModel)]="product.price" name="qty">
  </div> -->

  <div>
    <!-- <h2>Update Product</h2>
    <form (submit)="retrieveProductById()">
      <label for="idInput">Product ID:</label>
      <input type="number" id="idInput" [(ngModel)]="productId" name="productId" required>
      <button type="submit">Retrieve</button>
    </form> -->
  
    <div *ngIf="product">
      <h3 >Product Details</h3>
      <form (ngSubmit)="saveUpdatedProduct()">
        <div class="form-group">
          <!-- <label for="">productId</label> -->
        <input type="hidden" class="form-control" [(ngModel)]="product.productId" name="productId">
      </div>
        <div class="form-group">


        <label for="nameInput"><b>Name:</b></label>
        <input type="text" class="form-control" [(ngModel)]="product.name" name="name" required><br>
      </div>
      <div class="form-group">
        <label for="descriptionInput"><b>Description:</b></label>
        <input type="text" class="form-control" [(ngModel)]="product.description" name="description" required><br>
      </div>
      <div class="form-group">
        <label for="priceInput"><b>Price:</b></label>
        <input type="number" class="form-control"  [(ngModel)]="product.price" name="price" required><br>
      </div>
        <div class="form-group">
        <label for="qtyInput"><b>Quantity:</b></label>
        <input type="number" class="form-control" [(ngModel)]="product.qty" name="qty" required><br>
      </div>
       
        <button type="submit" class="btn btn-warning"><b>Update Product</b></button>
     
      </form>
    </div>
  </div>
