<h3>Save a Product</h3>

<form (ngSubmit)="OnSubmit()">
    <div class="form-group">
        <label for=""><b>Productname</b></label>
        <input type="text" class="form-control" id="name" [(ngModel)]="product.name"
         name="name">
    </div>

    <div class="form-group">
        <label for=""><b>Description</b></label>
        <input type="text" class="form-control" id="description" [(ngModel)]="product.description"
         name="description">
    </div>

    <div class="form-group">
        <label for=""><b>Quantity</b></label>
        <input type="text" class="form-control" id="qty" [(ngModel)]="product.qty"
         name="qty">
    </div>
    <div class="form-group">
        <label for=""><b>Price</b></label>
        <input type="text" class="form-control" id="price" [(ngModel)]="product.price"
         name="price">
    </div>

    <button class="btn btn-primary" type="submit"><b>submit</b></button>

</form>
