



<!-- <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="name"[(ngModel)]="product.name" name="name">
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <input type="text" class="form-control" id="description"[(ngModel)]="product.description" name="description">
  </div>
  <div class="form-group">
    <label for="">Quantity</label>
    <input type="text" class="form-control" id="qty"[(ngModel)]="product.qty" name="qty">
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="text" class="form-control" id="price"[(ngModel)]="product.price" name="qty">
  </div> -->

<div>
    <h2>Update Product</h2>
    <form (submit)="retrieveProductById()">
      <label for="idInput">Product ID:</label>
      <input type="number" id="idInput" [(ngModel)]="productId" name="productId" required>
      <button type="submit">Retrieve</button>
    </form>
  
    <div *ngIf="product">
      <h3>Product Details</h3>
      <form (submit)="saveUpdatedProduct()">
        <input type="hidden" [(ngModel)]="product.productId" name="productId">
        <label for="nameInput">Name:</label>
        <input type="text" [(ngModel)]="product.name" name="name" required><br>
        <label for="descriptionInput">Description:</label>
        <input type="text" [(ngModel)]="product.description" name="description" required><br>
        <label for="priceInput">Price:</label>
        <input type="number" [(ngModel)]="product.price" name="price" required><br>
        <label for="qtyInput">Quantity:</label>
        <input type="number" [(ngModel)]="product.qty" name="qty" required><br>
        <button type="submit">Update Product</button>
      </form>
    </div>
  </div>