<h3>Save a Product</h3>

<form (ngSubmit)="OnSubmit()">
    <div class="form-group">
        <label for="">productname</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="product.name"
         name="name">
    </div>

    <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="product.description"
         name="description">
    </div>

    <div class="form-group">
        <label for="">Quantity</label>
        <input type="text" class="form-control" id="qty" [(ngModel)]="product.qty"
         name="qty">
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="product.price"
         name="price">
    </div>

    <button class="btn btn-sucess" type="submit">submit</button>

</form>